{% extends 'base.html.twig' %}

{% block title %}Marque{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        <h1>Marque : {{ marque.name }}</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Voitures</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ marque.name }}</td>
                <td>
                    <ul>
                        {% for voiture in voitures %}
                            <li>
                                {{ voiture.model }}
                                <a href="{{ path('app_voiture_user_show', {'id': voiture.id })}}">Show Voiture</a>
                            </li>
                        {% else %}
                            <li>Aucune voiture liée à la marque</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('app_marque_user_index') }}">back to list</a>
    {% endif %}
{% endblock %}
