{% extends 'base.html.twig' %}

{% block title %}Voitures archivées{% endblock %}

{% block body %}
    <h1>Voitures archivées</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Model</th>
            <th>Marque</th>
            <th>Composant</th>
            <th>Price</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for voiture in voitures %}
            <tr>
                <td>{{ voiture.id }}</td>
                <td>{{ voiture.model }}</td>
                <td>{{ voiture.marque.name }}</td>
                <td>
                    <ul>
                        {% for composant in voiture.composant %}
                            <li>{{ composant.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ voiture.price }}</td>
                <td>
                    <a href="{{ path('app_voiture_show', {'id': voiture.id}) }}">show</a>
                    {{ include('admin/voiture/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune voiture archivée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_voiture_index') }}">Retour à la liste</a>
{% endblock %}
